body {
  /* font-family: 'Overpass Mono', monospace; */
}

.pure-g {
  padding: 1em;
}

.logo {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  object-fit: scale-down;
}

.center-horiz {
  text-align: center;
}

.code-container {
  text-align: center;
}

.code-container pre {
  display: inline-block;
  text-align: left;
}
