body {
  /* font-family: 'Overpass Mono', monospace; */
}

.pure-g {
  padding: 1em;
}

.logo {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  object-fit: scale-down;
}

.navbar-logo {
  height: 50px;
}

.navbar {
  height: 75px;
}

.center-horiz {
  text-align: center;
}

.code-container {
  text-align: center;
}

.code-container pre {
  display: inline-block;
  text-align: left;
}

.footer {
  text-align: center;
}

.footer {
  text-align:center;
}

.footer img {
  display: inline-block;
    margin-left: auto;
    margin-right: auto;
}